<nav class="bg-gray-800 dark:bg-gray-950 px-4 py-4 shadow-md border-b border-gray-700">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <a href="/" class="flex items-center">
      <span class="self-center text-xl font-semibold whitespace-nowrap text-white">
        <img width="200px" height="66px" src="/static/img/D_CongressLarge.png" alt="DirtyCongress.com" class="d-inline-block align-text-top" />
      </span>
    </a>

    <div class="flex items-center space-x-3">
      <button
        id="menu-toggle"
        type="button"
        class="inline-flex items-center p-2 ml-3 text-sm text-gray-400 rounded-lg hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-600 md:hidden"
      >
        <span class="sr-only">Open main menu</span>
        <!-- Hamburger icon -->
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"
          />
        </svg>
      </button>
    </div>

    <div
      class="w-full md:block md:w-auto hidden"
      id="mobile-menu"
    >
      <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-base md:font-medium">
        <li>
          <a
            href="/"
            class="{{ eqTernaryShort Url2 "/" "bg-primary-900 text-white" "text-gray-300 hover:bg-gray-700 hover:text-white dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white"}} px-4 py-3 rounded-lg text-lg font-medium"
            aria-current="{{ eqTernaryShort Url2 "/" "page" "false"}}"
          >
            Home
          </a>
        </li>
        <li>
          <a
            href="/congress-members"
            class="{{ eqTernaryShort Url2 "/congress-member" "bg-primary-900 text-white" "text-gray-300 hover:bg-gray-700 hover:text-white dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white"}} px-4 py-3 rounded-lg text-lg font-medium"
            aria-current="{{ eqTernaryShort Url2 "/congress-member" "page" "false"}}"
          >
            Congress Members
          </a>
        </li>
        <li>
          <a
            href="/committees"
            class="{{ eqTernaryShort Url2 "/committee" "bg-primary-900 text-white" "text-gray-300 hover:bg-gray-700 hover:text-white dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white"}} px-4 py-3 rounded-lg text-lg font-medium"
            aria-current="{{ eqTernaryShort Url2 "/committee" "page" "false"}}"
          >
            Committees
          </a>
        </li>
        <li>
          <a
            href="/hearings"
            class="{{ eqTernaryShort Url2 "/hearings" "bg-primary-900 text-white" "text-gray-300 hover:bg-gray-700 hover:text-white dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white"}} px-4 py-3 rounded-lg text-lg font-medium"
            aria-current="{{ eqTernaryShort Url2 "/hearings" "page" "false"}}"
          >
            Hearings
          </a>
        </li>
        <li>
          <a
            href="/travel"
            class="{{ eqTernaryShort Url2 "/travel" "bg-primary-900 text-white" "text-gray-300 hover:bg-gray-700 hover:text-white dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white"}} px-4 py-3 rounded-lg text-lg font-medium"
            aria-current="{{ eqTernaryShort Url2 "/travel" "page" "false"}}"
          >
            Gifted Travel
          </a>
        </li>
        <li>
          <a
            href="/travel/calendar"
            class="{{ eqTernaryShort Url2 "/travel/calendar" "bg-primary-900 text-white" "text-gray-300 hover:bg-gray-700 hover:text-white dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white"}} px-4 py-3 rounded-lg text-lg font-medium"
            aria-current="{{ eqTernaryShort Url2 "/travel/calendar" "page" "false"}}"
          >
            Gifted Travel Calendar
          </a>
        </li>
        {{!-- Temporarily disable lobbying section for rewrite --}}
        {{!-- <li>
          <a
            href="/lobbying"
            class="{{ eqTernaryShort Url2 "/lobbying" "nav-item-selected" "nav-item"}}"
            aria-current="{{ eqTernaryShort Url2 "/lobbying" "page" "false"}}"
          >
            Lobbying
          </a>
        </li> --}}
        <li>
          <a
            href="/help/faq"
            class="{{ eqTernaryShort Url2 "/help/faq" "bg-primary-900 text-white" "text-gray-300 hover:bg-gray-700 hover:text-white dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white"}} px-4 py-3 rounded-lg text-lg font-medium"
            aria-current="{{ eqTernaryShort Url2 "/help/faq" "page" "false"}}"
          >
            FAQ
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>
<div class="bg-red-600 text-white text-center py-2 text-sm dark:bg-red-800">
  <p><strong>WARNING</strong>: This site is under construction. Please take anything found here with a massive grain of salt.</p>

  {{!-- <p>🚨 <strong>Important:</strong> If you're in the US, remember to vote on Tuesday November 5th! 🗳️</p>
  <p>🇺🇸 Also check your <a href="https://vote.org">voter registration</a>, some states have been purging voting rolls. 🇺🇸</p> --}}
</div>



<script>
  const menuToggle = document.getElementById('menu-toggle');
  const mobileMenu = document.getElementById('mobile-menu');

  menuToggle.addEventListener('click', function () {
    mobileMenu.classList.toggle('hidden');
  });
</script>