{{#if PageTitle}}
{{> 'partials/title_heading' title=PageTitle subtitle=Subtitle }}
{{/if}}

<div class="flex flex-col lg:flex-row">

    <div class="w-full lg:w-1/4 bg-gray-200" hx-get="/htmx/top-destinations?limit=100" hx-trigger="load"></div>

    <div class="w-full lg:w-3/4 bg-white">

        <blockquote>
            <p>
                In accordance with House Rule 25 of the 115th Congress, Members, officers, and staff must file reports
                which detail travel-related expenses reimbursed by non-government sources and charitable contributions
                made in lieu of honoraria (a payment for services that do not have a set fee).
            </p>

            <p>Section 304 of the Honest Leadership and Open Government Act of 2007 requires the Office of the Clerk to
                make travel disclosure reports received during the past six years available to the public on the
                internet.
            </p>
        </blockquote>
        
        <span class="border-text">Party Breakdown</span>
        <div class="horizontal-party-bar">
            {{#each PartyBreakdown }}
            <div class="bar-segment" title="{{this.Num}} {{@key}} traveled to {{ Destination }}"
                style="background-color: {{partyColor @key}}; width: {{this.Percent}}%;">{{ this.Num }}</div>
            {{/each}}
        </div>

        <div class="overflow-auto">
            {{> 'htmx/travel_list' GiftTravel=GiftTravel }}
        </div>

    </div>
</div>