{{#if IncludeTitle }}
{{> 'partials/title_heading' title=PageTitle }}
{{/if}}


<table class="source">
    <thead>
        <tr>
            <th>Congress Member</th>
            <th>Document Filer</th>
            <th>Destination</th>
            <th dataType="date">Departure Date</th>
            <th dataType="date">Return Date</th>
            <th>Sponsor</th>
            <th>Filing Type</th>
        </tr>
    </thead>
    <tbody>
        {{#each GiftTravel }}
        <tr class="table-row-striped">
            <td class="px-4 py-2">
                {{> 'partials/member_pill' Member=this.Member }}
            </td>
            <td>
                {{ FilerName }}
            </td>
            <td>
                <a href="/travel-by-destination/{{ Destination }}">{{ Destination }}</a>
            </td>
            <td>{{ formatDate this.DepartureDate }}</td>
            <td>{{ formatDate this.ReturnDate }}</td>
            <td>{{ this.TravelSponsor }}</td>
            <td>{{ this.FilingType }}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="target"></div>

{{> 'scripts/sorttable' }}