<p>Below we can see a calendar of the destinations of the various congress critters</p>

<a href="/travel/calendar/{{PrevMonth}}">Previous</a>
<a href="/travel/calendar/{{NextMonth}}">Next</a>

<table class="w-full">
    <thead>
        <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
    </thead>
    <tbody>
        {{#each weeks}}
            <tr>
                {{#each Dates }}
                    <td class="align-top">
                        <b class="travelDay">{{ DayNumber }}</b>
                        {{#each Destinations }}
                            <p>{{ @key }} {{ this }}</p>
                        {{/each}}
                    </td>
                {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table>

<script src="/static/viz-js/calendar-helper.js"></script>