{{> 'partials/title_heading' title=Title subtitle="FAQ" }}

<div class="flex w-full justify-between">
    <a href="/travel/calendar/{{PrevMonth}}">Previous</a>
    <a href="/travel/calendar/{{NextMonth}}">Next</a>
</div>


<table class="w-full border-collapse border">
    <thead>
        <tr>
            <th class="border">Sunday</th>
            <th class="border">Monday</th>
            <th class="border">Tuesday</th>
            <th class="border">Wednesday</th>
            <th class="border">Thursday</th>
            <th class="border">Friday</th>
            <th class="border">Saturday</th>
        </tr>
    </thead>
    <tbody>
        {{#each weeks}}
            <tr>
                {{#each Dates }}
                    <td class="align-top border">
                        <b class="travelDay" data-month="{{ MonthNumber }}">{{ DayNumber }}</b>
                        {{#each DestinationsSorted }}
                            <p>{{ this }}</p>
                        {{/each}}
                    </td>
                {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table>

<div id="wrapper"></div>

<script>
    const monthInt = {{ monthInt }};
    const yearInt = {{ yearInt}};

    console.log('monthInt', monthInt);
    console.log('yearInt', yearInt);
</script>

<script src="/static/viz-js/calendar-helper.js?cache-bust={{ CacheBust }}"></script>