<a class="btn-tab {{eqTernary T1 T2 "bg-primary-600 text-white hover:bg-primary-700" "bg-white text-gray-700 border-gray-300 hover:bg-gray-50"}}"  
    href="{{URL}}{{ T1 }}"
    aria-current="{{ eqTernary T1 T2 "page" "false" }}">
        {{ Label }}
</a>


 {{!-- {{isEqualApplyClass T1 T2 "active"}} --}}
