<div class="bill-metadata">
    <h2>Bill Metadata</h2>

    <p>Publish Date: {{ formatDate Law.PubDate }}</p>
    <p>Scanned and Processed on: {{ formatDate Law.CreatedAt }}</p>

    <h3>Congress Members</h3>
    <ul>
        {{#each Metadata.CongressMembers}}
        <li><a href="/congress-member/{{ BioGuideId }}">
            {{ Name }} ({{Party}} - {{State}}) ({{Role}})
        </a></li>
        {{/each}}
    </ul>
    <h3>Committees</h3>
    <ul>
        {{#each Metadata.CongressCommittees}}
        <li>{{ Name }} ({{Chamber}})</li>
        {{/each}}
    </ul>
</div>