{{#each Laws }}
<div class="law" {{#if @last}} hx-get="/laws?page={{ PubDate }}" hx-trigger="revealed" hx-swap="afterend" {{/if}}>
    <h2>{{{ Title }}}</h2>
    <small>Published on {{formatDate PubDate }}</small>
    <p>{{ Description }}</p>
    <a href="/law/{{ ID }}">Read more</a>
</div>
{{/each}}