<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>{{ Title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/static/img/navbar.png">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/static/sitemap.xml">

    <meta property="og:title" content="{{ Title }}" />
    <meta property="og:image" content="/static/img/navbar.png" />
    <meta property="og:description" content="{{ Description }}" />
    <meta property="og:url" content="{{ Url }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="dirtycongress.com">
    <meta property="twitter:url" content="{{ Url}}">
    <meta name="twitter:title" content="{{ Title}}">
    <meta name="twitter:description"
        content="{{ Description}}">
    <meta name="twitter:image" content="https://dirtycongress.com/static/img/navbar.png">


    {{!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css?cache-bust={{ CacheBust }}"> --}}
    {{!-- <link rel="stylesheet" href="/static/css/custom.css?cache-bust={{ CacheBust }}"> --}}
    {{!-- <script src="/static/js/bootstrap.bundle.min.js?cache-bust={{ CacheBust }}" defer></script> --}}
    
    <link rel="stylesheet" href="/static/css/tailwind.css?cache-bust={{ CacheBust }}">
    <script src="/static/js/htmx.min.js?cache-bust={{ CacheBust }}" defer></script>


    <meta name='description' content="{{ Description }}" />
    <meta http-equiv='content-language' content='en-us' />

    {{> 'scripts/google-analytics' }}
</head>

<body>
    {{> 'page-parts/header' }}
    <main class="container mx-auto">
        {{ embed }}
    </main>
    {{> 'page-parts/footer' }}
</body>

</html>