{{!-- Congres member embedded View --}}


<div class="congress-member">
    <div class="congress-member__header">
        <div class="congress-member__header__image">
            <img class="img-fluid" src="/congress-member/{{ Member.BioGuideId }}/sponsors-bills-with-pi-chart" alt="{{ Member.Name }}">
        </div>
        <div class="congress-member__header__info">
            <h2>{{ Member.Name }}</h2>
            <p>{{Member.Party}} - {{Member.State}}</p>
        </div>
    </div>
    <div class="congress-member__body">
        <p>Yet another congress person</p>
        <small>Image not representive of said politican</small>
        <a href="/congress-member/{{Member.BioGuideId}}">Read more</a>
    </div>
</div>