<div class="prose-xl">
    {{> 'partials/title_heading' title=Committee.Name }}

    <blockquote>
        <p>{{ Committee.Jurisdiction }}</p>
        {{#if Commmittee.JurisdictionSource }}
        <footer>
            ~ <a href="{{ JurisdictionSource }}">source</a>
        </footer>
        {{/if}}
    </blockquote>

    {{#if Committee.Memberships }}
    <h2>Membership</h2>

    {{> 'partials/committee-party-bar' Committee=Committee }}
    <ul class="md:columns-2">
        {{#each Committee.Memberships }}
        <li class="{{ CongressMember.Role }}">
            <a href="/congress-member/{{CongressMember.BioGuideId}}">{{> 'partials/member-name' Member=CongressMember }}</a>
            {{#if Title }}({{ Title }}){{/if}}
        </li>
        {{/each}}
    </ul>
    {{/if}}

    <div hx-get="/travel/committee/{{ Committee.ThomasId }}" hx-trigger="load">
        <h2>Travel</h2>
        <p>Loading...</p>
    </div>


    {{#if Committee.GovtRssItems }}
    <h2>Most Recent Bills &amp; Laws</h2>

    {{> 'partials/law-list' Laws=Committee.GovtRssItems }}

    {{/if}}

    {{#if Committee.Subcommittees }}
    <h2>Subcommittees</h2>
    {{#each Committee.Subcommittees }}
    <div class="subcommittee">
        <h3>{{ Name }} ({{ ThomasId }})</h3>

        {{#if Memberships }}
        <h4>Membership</h4>
        {{> 'partials/committee-party-bar' Committee=this }}

        <ul class="md:columns-2">
            {{#each Memberships }}
            <li class="{{ CongressMember.Role}}">
                <a href="/congress-member/{{CongressMember.BioGuideId}}">{{> 'partials/member-name' Member=CongressMember }}</a>
                {{#if Title }}({{ Title }}){{/if}}
            </li>
            {{/each}}
        </ul>

        {{/if}}
    </div>
    {{/each}}

    {{else}}

    {{#with Committee.ParentCommittee }}
    To see more action and details about this committee, visit the <a href="/committee/{{ ThomasId }}">{{ Name }}</a> page.
    {{/with}}


    {{/if}}
</div>