<div class="container">
    <h1>Active Members of Congress</h1>

    {{!-- <div class="row">
        {{#each ActiveMembers}}
        <li class="{{ this.Role }}">
            <a href="/congress-member/{{this.BioGuideId}}">{{this.Name}} ({{ this.State }} - {{firstChar this.Party
                }})</a>
        </li>
        {{/each}}
    </div> --}}

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>Name</th>
                    <th>State</th>
                    <th>First Took Office</th>
                    <th>Party</th>
                </tr>
            </thead>
            <tbody>
                {{#each ActiveMembers}}
                <tr>
                    <td>
                        {{#if this.IsSenator }}
                        <span class="badge bg-primary">Senator</span>
                        {{else}}
                        <span class="badge bg-secondary">Representative</span>
                        {{/if}}
                    </td>
                    <td><a href="/congress-member/{{this.BioGuideId}}">{{this.Name}}</a></td>
                    <td>{{ this.State }}
                        {{#unless this.IsSenator }}
                        {{ this.District }}
                        {{/unless}}
                    </td>
                    <td>{{ formatDate this.TookOfficeOn }}</td>
                    <td>{{firstChar this.Party }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>