{{> 'partials/title_heading' title="Current Members of Congress" subtitle="The 117th Congress" }}


<table class="source">
    <thead class="">
        <tr>
            <th>Role</th>
            <th>Name</th>
            <th>State</th>
            <th>First Took Office</th>
            <th>Party</th>
        </tr>
    </thead>
    <tbody>
        {{#each ActiveMembers}}
        <tr>
            <td class="px-4 py-2">
                {{#if this.IsSenator }}
                <span class="badge bg-blue-500 ">Senator</span>
                {{else}}
                <span class="badge bg-gray-500">Representative</span>
                {{/if}}
            </td>
            <td class="px-4 py-2"><a href="/congress-member/{{this.BioGuideId}}"
                    class="text-blue-500 hover:underline">{{this.Name}}</a></td>
            <td class="px-4 py-2">{{ this.State }}
                {{#unless this.IsSenator }}
                {{ this.District }}
                {{/unless}}
            </td>
            <td class="px-4 py-2" sorttable_customkey="{{ this.TookOfficeOn }}">{{ formatDate this.TookOfficeOn }}</td>
            <td class="px-4 py-2">{{firstChar this.Party }}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

<div class="target"></div>

{{> 'scripts/sorttable' search=true }}