<h1>Active Members of Congress</h1>



<table class="table-auto w-full">
    <thead class="">
        <tr>
            <th>Role</th>
            <th>Name</th>
            <th>State</th>
            <th>First Took Office</th>
            <th>Party</th>
        </tr>
    </thead>
    <tbody>
        {{#each ActiveMembers}}
        <tr class="odd:bg-gray-100 even:bg-white border-b">
            <td class="px-4 py-2">
                {{#if this.IsSenator }}
                <span class="px-2 py-1 text-xs font-bold text-white bg-blue-500 rounded">Senator</span>
                {{else}}
                <span class="px-2 py-1 text-xs font-bold text-white bg-gray-500 rounded">Representative</span>
                {{/if}}
            </td>
            <td class="px-4 py-2"><a href="/congress-member/{{this.BioGuideId}}"
                    class="text-blue-500 hover:underline">{{this.Name}}</a></td>
            <td class="px-4 py-2">{{ this.State }}
                {{#unless this.IsSenator }}
                {{ this.District }}
                {{/unless}}
            </td>
            <td class="px-4 py-2">{{ formatDate this.TookOfficeOn }}</td>
            <td class="px-4 py-2">{{firstChar this.Party }}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

<script src="/static/js/sorttable.js"></script>