<h3>Frequently Works With</h3>

<ul class="member-list">
{{#each WorksWith }}
    <li class="{{ this.Role }}">
        <a href="/congress-member/{{this.BioGuideId}}">{{this.Name}} ({{ this.State }} - {{firstChar this.Party }})</a>
    </li>
{{/each}}
</li>

<script src="/static/js/Chart.js"></script>