<div class="container">
    <h1>{{{ Law.Title }}}</h1>

    <div class="bill-metadata">
        <h2>Bill Metadata</h2>

        <p><b>Publish Date:</b> {{ formatDate Law.PubDate }}</p>
        <p><b>Scanned and Processed on:</b> {{ formatDate Law.CreatedAt }}</p>

        {{#if Law.Metadata.OfficialTitle }}
        <p><b>Official Title</b>: {{ Law.Metadata.OfficialTitle }}</p>
        {{/if}}


        {{#if Law.Metadata.Actions }}
        <h3>Actions</h3>
        <ul>
            {{#each Law.Metadata.Actions }}
            <li><strong>{{ Date }}:</strong> {{ Text }}</li>
            <br />
            {{/each}}
        </ul>
        {{/if}}

        {{#if Law.Sponsors }}
        <h3>Congress Members</h3>
        {{> 'partials/sponsorship-bar' Law=Law}}
        <ul>
            {{#each Law.Sponsors }}
            <li class="{{ this.Role}}"><a href="/congress-member/{{ BioGuideId }}">
                    {{ Name }} ({{Party}} - {{State}})
                </a></li>
            {{/each}}
        </ul>
        {{/if}}

        {{#if Law.Committees }}
        <h3>Congress Committees</h3>

        <ul>
            {{#each Law.Committees }}
            <li><a href="/committee/{{ ThomasId }}">{{ Name }}</a></li>
            {{/each}}
        </ul>
        {{/if}}
    </div>

    <hr />

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="attribution">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}">
                    Bill Text
                </button>
            </h2>
            <div id="collapse{{@index}}" class="accordion-collapse collapse" aria-labelledby="attribution"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {{#if RenderMods }}
                    <pre>{{ LawText.ModsXML }}</pre>
                    {{else}}
                    <pre>{{ LawText.Text }}</pre>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="attribution">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTags" aria-expanded="true" aria-controls="collapseTags">
                    Bill Tags
                </button>
            </h2>
            <div id="collapseTags" class="accordion-collapse collapse" aria-labelledby="attribution"
                data-bs-parent="#accordionExample">
                <div class="accordion-body"  hx-get="/law/{{ Law.ID }}/tags" hx-trigger="revealed" hx-swap="afterend">
                </div>
            </div>
        </div>
    </div>


    <div class="related-laws row" hx-get="/htmx/law/{{ Law.ID }}/related_laws" hx-trigger="revealed" hx-swap="afterend">
    </div>

</div>