<div class="container">

    <div class="prose-xl">
        <h1>{{{ Law.Title }}}</h1>
        <h2>Bill Metadata</h2>

        <p><b>Publish Date:</b> {{ formatDate Law.PubDate }}</p>
        <p><b>Scanned and Processed on:</b> {{ formatDate Law.CreatedAt }}</p>

        {{#if Law.Metadata.OfficialTitle }}
        <p><b>Official Title</b>: {{ Law.Metadata.OfficialTitle }}</p>
        {{/if}}


        {{#if Law.Metadata.Actions }}
        <h3>Actions</h3>
        <ul>
            {{#each Law.Metadata.Actions }}
            <li><strong>{{ Date }}:</strong> {{ Text }}</li>
            <br />
            {{/each}}
        </ul>
        {{/if}}

        {{#if Law.Sponsors }}
        <h3>Congress Members</h3>
        {{> 'partials/sponsorship-bar' Law=Law}}
        <ul>
            {{#each Law.Sponsors }}
            <li class="{{ this.Role}}"><a href="/congress-member/{{ BioGuideId }}">
                    {{ Name }} ({{Party}} - {{State}})
                </a></li>
            {{/each}}
        </ul>
        {{/if}}

        {{#if Law.Committees }}
        <h3>Congress Committees</h3>

        <ul>
            {{#each Law.Committees }}
            <li><a href="/committee/{{ ThomasId }}">{{ Name }}</a></li>
            {{/each}}
        </ul>
        {{/if}}
    </div>

    <hr />

    <ul class="max-w-6xl mx-auto mt-20 divide-y  shadow shadow-blue-600 rounded-xl">
        <li>
            <details class="group">
                <summary class="flex items-center gap-3 px-4 py-3 font-medium marker:content-none hover:cursor-pointer">
                    <svg class="w-15 h-5 text-gray-500 transition group-open:rotate-90"
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                    <span>Bill Text</span>
                </summary>
                <article>
                    {{#if RenderMods }}
                    <pre>{{ LawText.ModsXML }}</pre>
                    {{else}}
                    <pre>{{ LawText.Text }}</pre>
                    {{/if}}
                </article>
            </details>
        </li>
        <li>
            <details class="group">
                <summary class="flex items-center gap-3 px-4 py-3 font-medium marker:content-none hover:cursor-pointer">
                    <svg class="w-15 h-5 text-gray-500 transition group-open:rotate-90"
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                    <span>Bill Tags</span>
                </summary>
                {{!-- tags are dynamically loaded --}}
                <div class="accordion-body" hx-get="/law/{{ Law.ID }}/tags" hx-trigger="load" hx-swap="afterend">
                </div>
            </details>
        </li>
    </ul>



    <div class="related-laws row" hx-get="/htmx/law/{{ Law.ID }}/related_laws" hx-trigger="revealed" hx-swap="afterend">
    </div>

</div>