<div class="grid md:grid-cols-4">

    {{#if TopDestinations }}
    <div class="prose">
        <h3>Top Destinations</h3>
        <p>
            It's funny what the actual top destinations are for congress people to get gifted travel to. 
            Very rarely into their own states and often to a party!
        </p>
        <ol>
            {{#each TopDestinations }}
            <li>
                <a href="/travel-by-destination/{{ Destination }}">{{ Destination }}</a>
            </li>
            {{/each}}
        </ol>
    </div>
    {{/if}}


    <div class="col-span-3">
        <table>
            <thead>
                <tr>
                    <th>Congress Member</th>
                    <th>Destination</th>
                    <th>Departure Date</th>
                    <th>Return Date</th>
                    <th>Sponsor</th>
                </tr>
            </thead>
            <tbody>
                {{#each GiftTravel }}
                <tr class="table-row-striped">
                    <td>
                        <a href="/congress-member/{{this.MemberId}}">{{ this.Member.Name }}</a> -
                        {{ firstChar this.Member.Party }} -
                        {{ this.Member.State }}
                    </td>
                    <td>{{ this.Destination }}</td>
                    <td>{{ formatDate this.DepartureDate }}</td>
                    <td>{{ formatDate this.ReturnDate }}</td>
                    <td>{{ this.TravelSponsor }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>


</div>