<div class="container">
    <h1>{{ Member.Name }}</h1>

    <div class="row">
        <div class="col-md-4">
            <h3>Bio Information</h3>
            Born: {{#if Member.CongressMemberInfo.Bio.Birthday}}
                {{ formatDate Member.CongressMemberInfo.Bio.Birthday }}
            {{else}}
                Not Available
            {{/if}}
        </div>
        <div class="col-md-8">
            <h3>Terms</h3>
            <ul>
            {{#each Member.CongressMemberInfo.Terms }}
                {{#if IsSenator }}
                    <li>{{{ Start }}} to {{{ End }}} for {{ State }} as Senator - {{ Party }}</li>
                {{else}}
                    <li>{{{ Start }}} to {{{ End }}} for {{ State }} as Representative - {{ Party }}</li>
                {{/if}}
            {{/each}}
            </ul>
            
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h3>Sponsored</h3>
            {{#each Member.Sponsored }}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{{ Title }}}</h5>
                        <p class="card-text">{{{ Description }}}

                        <a href="/law/{{ ID }}">Read More</a></p>
                        </p>
                    </div>
                </div>
            {{/each}}
        </div>    
    </div>

    
</div>

