<div class="container">
    <h1>{{{ Law.Title }}}</h1>

    <table>
        <thead>
            <tr>
                <th>Document Metadata</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Pub Date</th>
                <td>{{ Law.PubDate }}</td>
            </tr>
            <tr>
                <th>Total Tags</th>
                <td>{{ Law.Tags.length }}</td>
            </tr>
        </tbody>
    </table>

    <Pre>{{ LawText.ModsXML  }}</Pre>
    
    <pre>{{ LawText.Text }}</pre>
</div>
