<div class="container">
    <h1>Tag Index - {{ Tag.Name }}</h1>
    <ul>
        {{#each Items }}
            <li>
                <h2><a href="/law/{{ ID }}">{{{ Title }}}</a></h2>
                <div class="tags">
                    {{#each Tags }}
                        <span class="tag"><a href="/tag/{{ ID }}">{{ Name }}</a></span>
                    {{/each}}
                </div>
            </li>
        {{/each}}
    </ul>
</div>
