<h3>Frequently Works With</h3>

<div id="works-with-chart">
</div>

<ul class="member-list">
{{#each WorksWith }}
    <li class="{{ this.Role }}">
        <a href="/congress-member/{{this.BioGuideId}}">{{this.Name}} ({{ this.State }} - {{firstChar this.Party }})</a>
    </li>
{{/each}}
</li>

<script type="module">
import * as d3 from "https://cdn.jsdelivr.net/npm/d3@7/+esm";
window.d3 = d3;

// Create a bar chart using d3
const data = new Map(Object.entries({{{ Parties }}}));

// data looks like { PartyName : Count }

const width = 300;
const height = 300;
const radius = Math.min(width, height) / 2;

const svg = d3.select("#works-with-chart")
    .append("svg")
    .attr("width", width)
    .attr("height", height)
    .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");


const partyColors = {
    "Republican": "#FF0000", // Red
    "Democrat": "#0000FF", // Blue
    // Add more mappings as needed
};

const color = d => partyColors[d] || "#CCCCCC";

data.entries().forEach(([party, count], i) => {
    const arc = d3.arc()
        .innerRadius(0)
        .outerRadius(radius);

    const pie = d3.pie()
        .value(d => d[1]);

    const arcs = pie(data.entries());



    svg.selectAll("path")
        .data(arcs)
        .enter()
        .append("path")
        .attr("fill", d => color(d.data[0]))
        .attr("d", arc);
});

</script>