<h3>Frequently Works With</h3>

<div class="col-md-4">
    <div id="works-with-chart">
        <img class="img-fluid" src="/congress-member/{{ Member.BioGuideId }}/sponsors-bills-with-pi-chart"/>
    </div>
</div>

<div class="col-md-6">
    <ul class="">
    {{#each WorksWith }}
        <li class="{{ this.Role }}">
            <a href="/congress-member/{{this.BioGuideId}}">{{this.Name}} ({{ this.State }} - {{firstChar this.Party }})</a>
            (Worked on {{this.Count}} bills with {{../Member.Name}})
        </li>
    {{/each}}
    </ul>
</div>


