<h3>Frequently Works With</h3>

<div class="grid grid-cols-4 gap-10">
    <div id="works-with-chart">
        <img class="img-fluid" src="/congress-member/{{ Member.BioGuideId }}/sponsors-bills-with-pi-chart" />
    </div>


    <div class="col-span-3">
        <table class="w-full">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>State</th>
                    <th>Party</th>
                    <th>Bills</th>
                    <th>Important Dates</th>
                    <th>Current Member</th>
                </tr>
            </thead>
            <tbody>
                {{#each WorksWith }}
                <tr class="table-row-striped">
                    <td><a href="/congress-member/{{this.BioGuideId}}">{{this.Name}}</a></td>
                    <td>{{this.State}}</td>
                    <td>{{firstChar this.Party }}</td>
                    <td class="align-right">{{this.Count}}</td>
                    <td>
                        {{#if this.CongressMemberInfo.Bio.Birthday}}
                        {{ formatDate this.CongressMemberInfo.Bio.Birthday }}
                        {{else}}
                        Not Available
                        {{/if}} <br />
                        <abbr title="Date first took office">{{ formatDate this.TookOfficeOn }}</abbr>
                    </td>
                    <td>{{ this.IsActiveMember }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>