{{#if Laws }}

{{#if SubTitle }}
<h3>{{ SubTitle }}</h3>
{{/if}}

{{> 'partials/ad-roll' }}

{{#each Laws }}
<div class="row law" {{#if EnableLoad }}{{#if @last}} hx-get="/laws?page={{ PubDate }}&type={{ LawType }}" hx-trigger="revealed" hx-swap="afterend" {{/if}}{{/if}}>
    <h2><a href="/law/{{ ID }}">{{{ Title }}}</a></h2>
    {{> 'partials/sponsorship-bar' Law=this }}
    <small>Published on {{formatDate PubDate }} | Loaded On {{ formatDate CreatedAt }}</small>
    <p>
        {{ Metadata.OfficialTitle }} <br />
        {{#each Metadata.Actions }}
            <strong>{{ Date }}:</strong> {{ Text }}<br />
            <br />
        {{/each}}

    </p>

</div>
{{/each}}

<noscript>
    <div class="row">
        <div class="col-md-12">
            <a href="/laws?page={{ PubDate }}&type={{ LawType }}">Load More</a>
        </div>
    </div>
</noscript>

{{/if}}