{{#if Laws }}

{{#if SubTitle }}
<h3>{{ SubTitle }}</h3>
{{/if}}

{{> 'partials/ad-roll' }}

{{#each Laws }}
<div class="row law" {{#if EnableLoad }}{{#if @last}} hx-get="/laws?page={{ PubDate }}&type={{ LawType }}" hx-trigger="revealed" hx-swap="afterend" {{/if}}{{/if}}>
    <h2>{{{ Title }}}</h2>
    <div class="horizontal-bar">
    {{#each ComputeSponsorship }}
        <div class="bar-segment" style="background-color: {{partyColor @key}}; width: {{this}}%;"></div>
    {{/each}}
    </div>
    <small>Published on {{formatDate PubDate }} | Loaded On {{ formatDate CreatedAt }}</small>
    <p>
        {{ Metadata.OfficialTitle }} <br />
        {{#each Metadata.Actions }}
            <strong>{{ Date }}:</strong> {{ Text }}<br />
            <br />
        {{/each}}
        <a href="/law/{{ ID }}">Read more</a>
    </p>

</div>
{{/each}}

{{/if}}