<div class="prose-xl">
    {{> 'partials/title_heading' title=Committee.Name }}

    <blockquote>
        <p>{{ Committee.Jurisdiction }}</p>
        {{#if Commmittee.JurisdictionSource }}
        <footer>
            ~ <a href="{{ JurisdictionSource }}">source</a>
        </footer>
        {{/if}}
    </blockquote>

    {{#if Committee.Memberships }}
    <h2>Membership</h2>

    {{> 'partials/committee-party-bar' Committee=Committee }}
    <ul class="md:columns-2">
        {{#each Committee.Memberships }}
        <li class="{{ CongressMember.Role }}">
            <a href="/congress-member/{{CongressMember.BioGuideId}}">{{> 'partials/member-name' Member=CongressMember }}</a>
            {{#if Title }}({{ Title }}){{/if}}
        </li>
        {{/each}}
    </ul>
    {{/if}}

    <div hx-get="/htmx/travel/committee/{{ Committee.ThomasId }}" hx-trigger="load">
        <h2>Travel</h2>
        <p>Loading...</p>
    </div>

    {{#if Hearings}}
    <h2>Recent Hearings</h2>
    <div class="bg-white dark:bg-gray-800 shadow-sm rounded-lg border border-gray-200 dark:border-gray-700 overflow-hidden not-prose">
        <table class="w-full text-left text-sm">
            <thead class="bg-gray-50 dark:bg-gray-900 border-b dark:border-gray-700">
                <tr>
                    <th class="px-4 py-2 font-semibold">Title</th>
                    <th class="px-4 py-2 font-semibold">Date</th>
                    <th class="px-4 py-2 font-semibold">Links</th>
                </tr>
            </thead>
            <tbody class="divide-y dark:divide-gray-700">
                {{#each Hearings}}
                <tr class="hover:bg-gray-50 dark:hover:bg-gray-750 transition">
                    <td class="px-4 py-2 font-medium">{{this.Title}}</td>
                    <td class="px-4 py-2 whitespace-nowrap">{{this.HeldDate}}</td>
                    <td class="px-4 py-2 flex flex-col gap-1 text-xs">
                        {{#if this.FullTextUrl}}<a href="{{this.FullTextUrl}}" target="_blank" class="text-blue-600 hover:underline">Full Text</a>{{/if}}
                        {{#if this.PdfUrl}}<a href="{{this.PdfUrl}}" target="_blank" class="text-red-600 hover:underline">PDF</a>{{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{/if}}


    {{#if Committee.GovtRssItems }}
    <h2>Most Recent Bills &amp; Laws</h2>

    {{> 'partials/law-list' Laws=Committee.GovtRssItems }}

    {{/if}}

    {{#if Committee.Subcommittees }}
    <h2>Subcommittees</h2>
    {{#each Committee.Subcommittees }}
    <div class="subcommittee">
        <h3>{{ Name }} ({{ ThomasId }})</h3>

        {{#if Memberships }}
        <h4>Membership</h4>
        {{> 'partials/committee-party-bar' Committee=this }}

        <ul class="md:columns-2">
            {{#each Memberships }}
            <li class="{{ CongressMember.Role}}">
                <a href="/congress-member/{{CongressMember.BioGuideId}}">{{> 'partials/member-name' Member=CongressMember }}</a>
                {{#if Title }}({{ Title }}){{/if}}
            </li>
            {{/each}}
        </ul>

        {{/if}}
    </div>
    {{/each}}

    {{else}}

    {{#with Committee.ParentCommittee }}
    To see more action and details about this committee, visit the <a href="/committee/{{ ThomasId }}">{{ Name }}</a> page.
    {{/with}}


    {{/if}}
</div>