{{> 'partials/title_heading' title="Current Members of Congress" subtitle="The 117th Congress" }}


<table class="min-w-full table-auto divide-y divide-gray-200 shadow-md source">
    <thead class="bg-gray-50">
        <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">State</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" dataType="date">First Took Office</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Party</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" dataType="number">Travel Count</th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
        {{#each ActiveMembers}}
        <tr class="odd:bg-white even:bg-gray-50">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                {{> 'partials/member_pill' Member=this }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ this.State }}
                {{#unless this.IsSenator }}
                {{ this.District }}
                {{/unless}}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900" sorttable_customkey="{{ this.TookOfficeOn }}">{{ formatDate this.TookOfficeOn }} ({{ this.YearsServedDisplay }})</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{firstChar this.Party }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ this.TravelCount }}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

<div class="target"></div>

{{> 'scripts/sorttable' search=true }}